/* ROOT Utilities */
:root{
    --main-col: #006cfa;
    --secondary-col: #00e165;
}

/* Text formatting */
*{
    color: #fff;
    text-align: center;
    line-height: 50px;
}

h1{
    color: #000;
    text-align: start;
}

div[class*='col']{
    background-color: var(--main-col);
    border: 1px solid #fff;
    min-height: 50px;
}
